/venv
/5_12_ResNet_v1.keras
/efficientnetB3_model_15_May_v1.keras
/efficientnetB3_model_23_May_v1.keras
/Efficienttest.ipynb
/test_model.keras
/zabbix-release_6.5-1+ubuntu22.04_all.deb
/Entertainment
/SS images
/5_19_25_ResNet
